:root {
    --dark: rgb(54, 51, 55);
    --light: rgb(75, 215, 198);
    --main: rgb(69, 68, 75);
    --default: white; 
}

.navbar {
background-color: var(--dark);
color: var(--light);
text-align: right;
text-emphasis-style: row;
display: flex;
font-weight: bold
}

@media screen {
    
}
